*,body{
    font-family: 'Karla', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    position: relative;
    margin: 0;padding: 0;
    top: 0;left: 0;
    width: 100vw;
    min-height: 930px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(204, 43%, 93%);
}
main{
    margin: 0;padding:0;
    width: 700px;
    height: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 5px 50px -30px black;
}

/* colors */

.cyan{
    color: hsl(179, 62%, 43%)
}
.bright-yellow{
    color: hsl(71, 73%, 54%);
}
.light-gray{
    color: hsl(204, 43%, 93%);
}
.grayish-blue{
    color: hsl(218, 22%, 67%);
}
.white{
    color: white
}

/* font */

h1,.h1{
    font-size: 1.6rem;
    font-weight: 700;
}
h2{
    font-size: 1.2rem;
    font-weight: 700;
}
p{
    font-size: 1.05rem;
    font-weight: 400;
    color: hsl(204, 43%, 93%);
}
/* styles */


.community{
    padding: 0;
    height: 45%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.community__info{
    width: 86%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.community__info h1{
    margin-bottom: 1.3rem;
}
.community__info h2{
    margin-bottom: 1rem;
}
.community__info p{
    line-height: 1.5rem;
}






.about__us{
    width: 100%;
    height: 55%;
    background-color:hsl(179, 62%, 43%) ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.subscription{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscription__info{
    position: relative;
    top: 0;
    width: 78%;
    height: 70%;
}
.subscription__info h2{
    margin-bottom: 1.5rem;
}
.subscription__info .h1{
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}
.subscription__info .h1 span{
    margin-left: 1em;
    color: hsl(0, 0%, 85%);
}
.subscription__info .sing__up{
    position: absolute;
    bottom: 0;
    border: none;
    text-decoration: none;
    width: 100%;
    height: 3em;
    border-radius: 5px;
    background-color: hsl(71, 73%, 54%);
    box-shadow: 0px 5px 50px -30px black;
}
.why__us{
    position: relative; top: 0;left: 0;
    width: 50%;
    height: 100%;
    background-color:hsl(179, 62%, 47%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-right-radius: 20px;
}
.why__us::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20000;
    width: 100%;
    height: 100%;
    background-color: hsl(218, 22%, 57%);
    opacity: 0.1;
}
.why__us__info{
    position: relative;
    top: 0;
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 3em;
}
.why__us__info p{
    font-size: 0.9rem;
    line-height: 1.4em;
}


@media only screen and (max-width: 850px){
    body{
        min-height: 600px;
    }
    main{
        width: 80%;
    }
}

@media only screen and (max-width: 650px){
    body{
        min-height: 1000px;
    }
    main{
        width: 80%;
        height: 800px;
        border-radius: 5px;
    }
    .community{
        height: 40%;
    }
    .about__us{
        height: 100%;
        flex-direction: column;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    .subscription{
        width: 100%;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .subscription__info{
        width: 86%;
        margin-left: 0em;
    }
    .why__us{
        width: 100%;
        height: 50%;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        justify-content: center;
        align-items: center;
    }
    .why__us__info{
        width: 86%;
        margin-left: 0em;
    }
}

@media only screen and (max-width: 600px){
    .community{
        height: 50%;
    }
    h1,.h1{
        font-size: 1.4rem;
    }
    h2{
        font-size: 1rem;
    }
    p{
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 320px){
    main{
        width: 98%;
    }
}

@media only screen and (max-width: 250px){
    h1,.h1{
        font-size: 1.2rem;
    }
    h2{
        font-size: 0.9rem;
    }
    p{
        font-size: 0.7rem;
    }
}
@media only screen and (max-width: 200px){
    body{
        margin-top: 1em;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100vh;
    }
    main{
        min-height: 100vh;
    }
}